<% content_for :body do -%>
	<p>Sam Grigg Design bridges the gap between concept and reality; between vapor ware and development. If your job is to think up ways to improve your business, my job is to understand your ideas and drag them (kicking and screaming) out into the light of day. If the devil is in the details, then I am the devil. The implementation of your product is likely to be more complex than you realize. The balm that relieves the irritation of half-baked ideas comes in a gray box. I have the skills and experience to pull your ideas out of the moist, dark, damp corners of your brain and bring them to life.</p>
	<p>Putting the look and feel on your idea is always going to be tricky. You may have designers on staff. You may know a guy.  You may not even know what I mean when I say "look and feel". I can help in each scenario. I'm happy to work with your designers or to do the design myself.</p>
	<p>When it comes to development, you may have in-house development, you may outsource it, or you may have nothing. In all three scenarios I can help. I can either work with your development team, with your contractors, or I can introduce you to some contractors. In (nearly) any scenario, we can make it work.</p>
	<ul id="about-subnavigation">
		<li><a href="#analysis">Business Analysis</a></li>
		<li><a href="#prototype">Prototyping</a></li>
		<li><a href="#architecture">Information Architecture</a></li>
		<li><a href="#research">User Research</a></li>
		<li><a href="#design">Graphic Design</a></li>
	</ul>

	<div id="analysis">
		<h2><a name="analysis">Business Analysis</a></h2>
		<p>Understanding your business is the first step to ensuring pleasant interactions with your customers.
			With years of experience understanding industries that range from manufacturing to retirement accounts,
			we can distill your business processes down to their essential parts to effectively bring them online,
			streamline your existing online presence or bring sharper focus to your business practices.</p>
	</div>

	<div id="prototype">
		<h2><a name="prototype">Prototyping</a></h2>
		<p>Holding the plans for your web site or application in your head will probably give you a headache.
			We have a wide variety of web technologies in our quiver to shoot at your problem. Prototyping helps you think through your
			solution at a deeper level than flow charts or even wireframes. With various levels of fidelity, from flash movies to
			functioning code, you can take your solution to the level you need, no more and no less.</p>
	</div>

	<div id="architecture">
		<h2><a name="architecture">Information Architecture</a></h2>
		<p>Finding your way around information is much more subtle than finding
			your way around physical space. We must carefully craft the content and features of our websites so that customers don't
			can find their way.</p>
	</div>

	<div id="research">
		<h2><a name="research">User Research</a></h2>
		<p>Knowing your users is the only thing that's as important as knowing your business. In fact, it's probably the same thing.
			Your customers will seldom approach you and tell you what you want and how they'd like it delivered, but we have ways
			of making them talk, er, we have ways of talking to them and asking the right questions to help them and you realize
			what they really want.</p>
	</div>

	<div id="design">
		<h2><a name="design">Graphic Design</a></h2>
		<p>Sometimes you will have designers either on staff or on the phone that will give you the spit 'n' polish you're after.
			If that's the case, we're more than happy to step aside at that point and let them go to town. But if you don't have
			that ability, we're also happy to step in and take care of that for you.</p>
	</div>

	<form id="contact" method="post" action="about.html?send=true">
		<fieldset>
			<legend>Contact Gray Box Interaction</legend>
			<div class="field">
				<label for="name-tb">*Name:</label>
				<input type="text" id="name-tb" name="name-tb" />
			</div>
			<div class="field">
				<label for="email-tb">Email:</label>
				<input type="text" id="email-tb" name="email-tb" />
			</div>
			<div class="field">
				<label for="subject-tb">Subject:</label>
				<input type="text" id="subject-tb" name="subject-tb" />
			</div>
			<div class="field">
				<label for="message-ta">*Message:</label>
				<textarea type="text" id="message-ta" name="message-ta"></textarea>
			</div>
			<div class="button field">
				<!-- <input id="contact-btn" type="button" value="contact" /> -->
				<button type="submit" id="contact-btn">contact</button>
			</div>
		</fieldset>
	</form>
	<img id="pull-quote" src="images/skills-and-experience-pull-quote.png" alt="I have the skills and experience to pull your ideas out of the moist, dark, damp corners of your mind and bring them to life." />
<% end -%>